.card {
    padding:1%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #d1d1d1 ;
    img {
        width: 90%;
    }
    p {
        width: 90%;
    }
    h5 {
        margin-top: 4%;
        font-weight: bold;
    }
}